@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

/*--------------------------------------------------------------
# Global Styles
--------------------------------------------------------------*/
:root {
  /* Colors */

  --color-default: #212529;
  --color-primary: #ce1212;
  --clr-primary-2: hsl(21, 62%, 45%);
  --color-secondary: #37373f;
  --color-black-700: #7f7f90;
  --clr-grey-1: hsl(210, 31%, 80%);
  --clr-grey-2: hsl(209, 23%, 60%);
  --clr-white: #fff;

  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  /*  Fonts */

  --font-default: 'Open Sans', system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-primary: 'Amatic SC', sans-serif;
  --font-secondary: 'Inter', sans-serif;
  --font-italic: 'Cursive';

  --font-sm: 1rem;
  --font-lg: 1.5rem;
  --font-md: 3rem;
  --font-xlg: 3.5rem;
  --font-2xlg: 4.5rem;
  --transition: all 0.3s linear;
  --transition-2: all 0.3s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-default);
  color: var(--color-default);
  overflow-x: hidden;
}

ul {
  list-style: none;
  text-decoration: none;
}
a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #ec2727;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

section {
  background: var(--bg-primary);
  height: 100vh;
  width: 100vh;
}
.title{
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-black-700);
  font-family: sans-serif;
}
/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
.container {
  margin: auto;
}
.section {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
.section-bg {
  background-color: #eee;
}

.section-header {
  text-align: center;
  padding-bottom: 30px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #7f7f90;
  text-transform: uppercase;
  font-family: var(--font-default);
}

.section-header p {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  font-family: var(--font-primary);
}

.section-header p span {
  color: var(--color-primary);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  background: #fff;
  transition: all 0.5s;
  z-index: 999;
  height: 60px;
  border-bottom: 1px solid #fff;
}

@media (max-width: 575px) {
  .header {
    height: 50px;
  }
}

.header.sticked {
  border-color: #fff;
  border-color: #eee;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo h1 {
  font-size: 25px;
  font-weight: 700;
  color: #333;
  margin: 0;
  font-family: var(--font-secondary);
  font-style: italic;
}

.header .logo h1 span {
  color: var(--color-primary);
}
.header .logo span:nth-child(2) {
  color: var(--color-primary);
  font-family: var(--font-italic);
}

.header .book-service-btn,
.header .book-service-btn:focus {
  font-size: 14px;
  color: #fff;
  background: var(--color-secondary);
  opacity: 0.8;
  padding: 8px 15px;
  margin-left: 30px;
  border-radius: 5px;
  transition: 0.3s;
}

.header .book-service-btn:hover,
.header .book-service-btn:focus:hover {
  color: #fff;
  background: rgba(206, 18, 18, 0.8);
  transform: scale(1.1);
  opacity: 0.6;
}

/*--------------------------------------------------------------
# NAVIGATION BAR
--------------------------------------------------------------*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 20px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 600;
  color: var(--color-black-700);
  white-space: nowrap;
  transition: var(--transition-2);
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
  transition: var(--transition-2);
}

.navbar > ul > li > a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: var(--color-primary);
  visibility: hidden;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #000;
}
@media (min-width: 900px) {
  .mobile-nav-show {
    display: none;
  }
}

/*--------------------------------------------------------------
# Hero section
--------------------------------------------------------------*/
#hero {
  margin-top: 70px;
  width: 100vw;
  overflow-x: hidden;
}
.hero-row {
  min-height: 85vh;
}
.hero-info {
  display: block;
  padding: 50px 0 20px 10x;
  align-items: center;
  justify-content: center;
}
.hero-info span {
  font-size: var(--font-xlg);
  padding-top: 18px;
  position: relative;
  font-size: 3.5rem;
  color: #252839;
  -webkit-text-stroke: 0.1rem #383d52;
  text-transform: uppercase;
}
.hero-info p {
  padding-top: 20px;
  font-family: cursive;
  color: var(--clr-grey-2);
  max-width: 80vh;
}

.home-btns {
  display: flex;
  gap: 10px;
  position: relative;
  justify-content: center;
  padding: 20px 40px;
}
.explore-btn {
  padding: 10px 25px;
  border-radius: 20px;
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--color-primary);
  transition: all 0.3s ease;
}
.explore-btn a {
  color: #fff;
  font-weight: 500;
}
.explore-btn:hover {
  background-color: var(--color-secondary);
  transform: scale(1.02);
}

.title-container {
  width: 100%;
  height: 90px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: baseline;
  color: #fff;
  position: relative;
  background: linear-gradient(to right, grey, rgba(255, 0, 0, 0.3));
  font-size: var(--font-lg);
  padding: 25px 0;
  margin: 0 0 40px;
}

.title-container span {
  position: absolute;
  top: 0;
  margin-top: -20px;
  font-size: 80px;
  right: 30px;
  float: right;
}
.section-title {
  display: flex;
  margin-left: 30px;
  color: var(--color-primary);
  position: relative;
  width: 100%;
  font-weight: 700;
  text-align: center;
  font-family: cursive;
  text-transform: uppercase;
  font-size: var(--font-xlg);
}

/* ######## Hero Slider ########### */
.slider {
  position: relative;
  overflow: hidden;
}

.person-img {
  width: 100%;
  height: 100%;
  padding-top: 5px;
  object-fit: cover;
  transition: all 0.3s ease;
  box-shadow: var(--dark-shadow);
  z-index: 1000;
}
.person-img:hover {
  opacity: 0.6;
}

.prev,
.next {
  position: absolute;
  top: 300px;
  transform: translateY(-50%);
  color: var(--primary-color);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: var(--transition);
}
.prev:hover,
.next:hover {
  background: var(--clr-primary-2);
}
.person-img:hover .prev {
  visibility: hidden;
}

.prev {
  left: 3px;
}
.next {
  right: 30px;
}
@media (min-width: 800px) {
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}
.slider-container article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
.slider-container article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.slider-container article.lastSlide {
  transform: translateX(-100%);
}
.slider-container article.nextSlide {
  transform: translateX(100%);
}

.about {
  margin-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.about .about-heading {
  margin-top: 25px;
  color: var(--primary-color);
  font-family: cursive;
}

.about-images-2 .col-4 img {
  transition: all 0.3s ease;
  opacity: 0.8;
}
.about-images-2 .col-4 img:hover {
  transform: rotate(-8deg);
  border: 3px solid var(--color-primary);
}
.about img {
  width: 100%;
  overflow: hidden;
}

.about .left-text-content p {
  margin-bottom: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  line-height: 30px;
  font-size: 1rem;
}

.about .right-content {
  margin-left: 30px;
  margin-top: 30px;
  border: 2px solid var(--clr-grey-2);
  transition: all 0.3s ease;
}
.about .right-content:hover {
  opacity: 0.8;
}
.about .right-content .thumb {
  position: relative;
}

.about .right-content .thumb a {
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 50%;
  top: 45%;
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  background-color: #fb5849;
  color: #fff;
  font-size: 40px;
  border-radius: 50%;
  transform: translate(-35px, -35px);
  transition: all 0.3s;
}

.about .right-content .thumb a :hover {
  opacity: 0.9;
}

/*--------------------------------------------------------------
# Why Us section
--------------------------------------------------------------*/
.why-us {
  background: url(../images/about.jpg);
  color: #fff;
  padding: 30px 0 40px 0;
}
.why-us-title-container {
  margin-left: 20px;
  padding-bottom: 25px;
}
.why-us-title-container p,
.menu-min-title {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: var(--clr-primary-2);
}
.why-us-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 40px;
}
.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
  background: #1a1814;
}

.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #cda45e;
}

.why-us .box h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color);
  font-family: cursive;
  padding: 0;
  margin: 20px 0;
}

.why-us .box p {
  color: #aaaaaa;
  font-size: 17px;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  line-height: 30px;
}

.why-us .box:hover {
  background: #cda45e;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.why-us .box:hover span,
.why-us .box:hover h4,
.why-us .box:hover p {
  color: #fff;
}

/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.menu {
  margin-top: 50px;
  padding: 50px 5px;
  background: var(--clr-grey-1);
}
.menu-item{
  padding: 10px;
}
.menu #menu-filters {
  padding: 0;
  margin: 0 auto 0 auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  display: flex;
  flex-wrap: nowrap;
}

.menu #menu-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #333;
  margin: 0 3px 10px 3px;
  transition: all ease 0.3s;
  background: #fff;
  border: 2px solid #ffb03b;
  border-radius: 45px;
  text-transform: capitalize;
}

.menu #menu-filters li:hover,
.menu #menu-filters li.filter-active {
  color: #fff;
  background: #ffb03b;
  border: 2px solid #FFF;

}

.menu #menu-filters li:last-child {
  margin-right: 0;
}

.menu .menu-content {
  margin-top: 5px;
  padding-left: 5px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.menu .menu-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  border: 5px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}
.menu .menu-img:hover {
  opacity: 0.8;
  border: 5px solid rgba(177, 44, 44, 0.2);
}

.menu .menu-content::after {
  content: '......................................................................'
    '....................................................................';
  position: absolute;
  left: 20px;
  right: 0;
  top: -4px;
  z-index: 1;
  color: hsl(40, 95%, 7%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu .menu-content a {
  padding-right: 10px;
  background: #fff;
  position: relative;
  text-transform: capitalize;
  z-index: 3;
  font-weight: 700;
  color: #e68d09;
}

.menu .menu-content span {
  background: #fff;
  position: relative;
  z-index: 3;
  padding: 0 10px;
  font-weight: 700;
}

.menu .menu-ingredients {
  position: relative;
  font-style: italic;
  font-size: 12px;
  font-family:cursive;
  color: #494744;
  margin-top: -10px;
  padding: 0 85px;
}
.item-description{
  font-size: 14px;
  padding: 5px 0 2px 10px ;
  font-family: revert;
  font-weight: 700;
  font-family: cursive;
  color: var(--color-black-700);
}

/*--------------------------------------------------------------
# Specials
--------------------------------------------------------------*/
.specials {
  overflow: hidden;
  margin: 0 10px;
}

.title-container{
  display: flex;
  position: relative;
}

.specials .tab-link {
  border: 0;
  width: 100%;
  margin-top: 10px;
  padding: 12px 50px 12px 0;
  transition: 0.3s;
  color: #433f39;
  border-radius: 0;
  border-right: 2px solid #e8e7e4;
  font-weight: 600;
  font-size: 15px;
}

.specials .tab-link:hover {
  color: var(--color-primary);
}

.specials .nav-tabs .active {
  color: #ffb03b;
  border-color: #ffb03b;
}


.specials .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #433f39;
}

.specials .details p {
  color: #777777;
}

.specials .details p:last-child {
  margin-bottom: 0;
  font-family: cursive;

}

@media (max-width: 992px) {
  .tabs-container{
    display: flex;
    flex-direction: column;
  }
  .tabs{
   display: flex;
   flex-direction: row ;
   align-items: center;
   justify-content: start;
   text-align: center;
   flex-wrap: wrap;
   column-gap: 10px;
  
   }
  .specials .tab-link {
    border: 0;
    padding: 10px;
    width: 140px;
  }

  .specials .tab-link.active {
    color: #fff;
    background: #ffb03b;
  }
  .specialImg img{
    height: 130px;
    width: 130px;
  }
  
}




/*--------------------------------------------------------------
# Chefs
--------------------------------------------------------------*/
.chefs {
  margin-top: 60px;
  padding: 40px 0;
}
.chefs .section-min-title {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: var(--clr-primary-2);
}
.chefs .member {
  text-align: center;
  margin-bottom: 20px;
  background: #343a40;
  position: relative;
  overflow: hidden;
}
.chefs .member img {
  opacity: 0.6;
}
.chefs .member img:hover {
  opacity: 1;
}

.chefs .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

.chefs .member .member-info-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  transition: bottom 0.4s;
}

.chefs .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

.chefs .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

.chefs .member .social {
  position: absolute;
  left: 0;
  bottom: -38px;
  right: 0;
  height: 48px;
  transition: top ease-in-out 0.4s;
  text-align: center;
}

.chefs .member .social a {
  transition: color 0.3s;
  color: blueviolet;
  margin: 0 10px;
  display: inline-block;
}

.chefs .member .social a:hover {
  color: #c28d33;
}

.chefs .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.chefs .member:hover .member-info {
  background: linear-gradient(
    30deg,
    rgba(83, 22, 22, 0.9) 0%,
    rgba(117, 9, 9, 0.8) 20%,
    rgba(17, 103, 121, 0) 100%
  );
  opacity: 1;
  transition: 0.4s;
}

.chefs .member:hover .member-info-content {
  bottom: 60px;
  transition: bottom 0.4s;
}

.chefs .member:hover .social {
  bottom: 0;
  transition: bottom ease-in-out 0.4s;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services{
  background: blueviolet;
}
.service-title{
  font-size: 1.5rem;
  font-family: cursive;
  color: var(--clr-white);
  font-weight: 700;
}

.services-cards{
  width: 100%;
  padding: 40px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media (max-width: 850px){
  .services-cards{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 630px){
  .services-cards{
    grid-template-columns: repeat(1, 1fr);
  }
  .services-cards .card{
    margin-left: -15px;

  }
}

.services-cards .card{
  border-radius: 25px;
  background-color: var(--clr-white);
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 250px;
  width: 100%;
  background: #4070F4;;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 4px solid #4070F4;
  opacity: 1;
  transition: var(--transition);
}
.card-image .card-img:hover{
  opacity: 0.7;
}
.service-name{
  font-size: 20px;
  font-weight: 500;
  color: var(--clr-grey-2);
}
.service-desc{
  font-size: 14px;
  font-family: cursive;
  color: var(--clr-grey-2);
  text-align: center;
}
.card-content button{
  border: none;
  font-size: 16px;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: var(--transition);
}
.card-content button a{
  color: #fff;
}
.card-content button:hover{
  transform: scale(1.1);
}



/*--------------------------------------------------------------
# MOBILE VIEW DESIGN 
--------------------------------------------------------------*/
@media (max-width: 992px) {
  .hero {
    align-items: start;
    margin-left: -12px;
  }
  .hero-info {
    display: block;
    padding: 60px 0;
    background: url(../images/event-custom.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 85vh;
  }
  .hero-info p {
    font-weight: 900;
    font-size: 2.3rem;
    color: var(--color-primary);
    
  }
  .hero-info span {
    padding: 60px 0;
    font-weight: 900;
    font-size: 3.4rem;
    color: #fff;
  }
  .hero-row {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .slider {
    width: 100%;
    position: fixed;
    left: 0;
    z-index: -1;
    opacity: 0.2;
    min-height: 100vh;
  }
  .prev,
  .next {
    display: none;
  }
  .hero-info h2 {
    color: var(--clr-white);
    font-size: 900;
    font-style: bold;
  }
  .hero-info p {
    font-weight: 600;
  }
  .about .right-content {
    margin-left: -10px;
  }
}

@media (max-width: 900px) {
  .navbar {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    border-left: 1px solid var(--clr-grey-1);
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    top: 45px;
    background: rgba(255, 255, 255, 0.9);
    overflow-y: auto;
    transition: 0.3s;
    padding: 10px 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    display: block;
  }

  .navbar a,
  .navbar a:focus {
    display: block;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-secondary);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    font-weight: 600;
    padding: 2px 0;
    white-space: nowrap;
    color: var(--crl-grey-1);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
    transition: var(--transition);
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar li:hover > a {
    background: var(--clr-grey-2);
    color: var(--clr-white);
    padding-left: 1rem;
  }
  .navbar li:before {
    display: none;
  }

  .navbar .active,
  .navbar .active:focus {
    color: #000;
    border-color: var(--color-primary);
  }

  .mobile-nav-show {
    color: var(--color-secondary);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin: 0 10px 0 20px;
    background: rgba(255, 255, 255, 0.9);
  }

  .navbar a:hover:before,
  .navbar li:hover > a:before,
  .navbar .active:before {
    visibility: hidden;
    width: 100%;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: '';
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9996;
  }
}
@media (max-width: 630px) {
  .hero-text{
    margin-top: 90px;
  }
  .section-title{
    font-size: 2.3rem;
  }
}
@media (max-width: 500px) {
   .hero-text span {
    font-size: 2rem;
  }
  .title-container span {
    margin-top: -20px;
  }
  .section-title {
    font-size: 2.5rem;
    margin-left: 5px;
  }
  .hero-text  {
    margin-top: 130px;
  }
  .hero-info p{
    color: var(--color-primary);
    font-size: 1.2rem;
  }
  .book-service-btn {
    display: none;
  }
  .menu img{
    margin-top: 25px;
  }
  .menu .menu-ingredients{
    padding-left: 100px;
  }
  .menu .item-description{
    padding-left: 100px;
  }
}
@media (min-width: 500px) {
  .btn-min-service {
    display: none;
  }
}

@media (max-width: 450px) {
  .home-btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .section-title{
    font-size: 1.7rem;
  }
  }

@media (max-width: 387px) {
  .title {
    font-size: 1.8rem;
  }
  .title-container span {
    font-size: 2.4rem;
    margin-top: 10px;
  }

}

@media (max-width: 350px){
   .menu img{
    display: none;
  }
    .menu .menu-ingredients{
    padding-left: 1px;
  }
  .menu .item-description{
    padding-left: 1px;
  }

}
@media (max-width: 350px){
   .title-container span {
    display: none
  };
}